@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono&display=swap');

:root {
    --primary-color: #000; 
    --secondary-color-1: #e1e1e1; 
    --secondary-color-2: #f1f1f1;  
    --tetiary-color-1: #333333;
    --tertiary-color-2:#9D9C9C;
    --text-color: #FFFFFF;
    --accent-color-1: #5a1bd9; 
    --accent-color-2: #7441DD; 
    --accent-color-3: #9068E3; 
    --button-color-1: #0d6efd; 
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace !important;
}

html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar img{
    max-width: 150px;
}

.navbar-nav li a {
    transition: transform 0.5s;
}

.navbar-nav li a:hover {
    transform: translateY(-5px);
}

#navbarNav a {
    text-decoration: none;
    color: var(--text-color);
}
section{
    min-height: 100vh;
}


section:nth-child(even) {
    background-color: var(--secondary-color-1);
}

section:nth-child(odd) {
    background-color: var(--secondary-color-2); 
}
#landing {
    background-image: url(../assets/landing\ background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

#about img{
    max-width: 300px;
}
.custom-image{
    max-width: 90px;
}

.landing-heading {
    font-size: 40px;
    font-weight: bold;
    color: #272727;
}

.landing-heading span{
    color: var(--text-color);
}

.landing-subheading {
    font-size: 35px;
    color: #c9b0b0;
    margin-top: 20px;
}

#timeline > div:nth-child(odd) .timeline-item {
    background: var(--tertiary-color-2);
    left:0;

}

#timeline > div:nth-child(even) .timeline-item {
    background: var(--tertiary-color-2);
    right:0;

}

.person img{
    max-width: 200px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: var(--tetiary-color-1); 
}

#socialIcons a svg {
    color: var(--accent-color-1);
}

footer p{
    color: var(--text-color);
    margin-bottom: 0;
}

footer {
    background-color: var(--tetiary-color-1);
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}
